:root {
  --pixel-size: 2px;
  --grid-cell: calc( var(--pixel-size) * 16)
}

.camera {
  width: calc(var(--pixel-size) * 160);
  height: calc(var(--pixel-size) * 144);
  overflow: hidden;
  position: absolute;
}

.map {
  image-rendering: pixelated;
  background-image: url(https://pixelartmaker-data-78746291193.nyc3.digitaloceanspaces.com/image/ec909121cc587b3.png);
  background-size: 100%;
  width: calc(34 * var(--grid-cell));
  height: calc(17 * var(--grid-cell));
  position: relative;
}

.character {
  width: calc( var(--grid-cell) * 2);
  height: calc( var(--grid-cell) * 2);
  position: absolute;
  overflow: hidden;
}

.pixel-art{
  image-rendering: pixelated;
}